/* Make the below styles 'important' to override the default styles provided by ant-design */
.form-input {
  height: 35% !important;
  width: 300px !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 10px 1px #bbb !important;
  border-radius: 3px !important;
  padding: 24px !important;
  padding-top: 65px !important;
  z-index: 401 !important;
}

.form-radio-btn {
  margin-bottom: 24px !important;
}
