.region-info {
  height: 65%;
  width: 300px;
  background-color: #fff;
  box-shadow: rgb(187 187 187) 0px 1px 6px 0.1px;
  border-radius: 3px;
  overflow-y: scroll;
  z-index: 401;
}

.region-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100px;
}

.line-separator {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
}

.region-items-wrapper {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
}

.region-info-item {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 0px;
}
