html,
body {
  height: 100vh;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 130px;
  height: auto;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-control-container {
  position: absolute;
  bottom: 200px;
  right: 80px;
  z-index: 401;
}

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: white;
  box-shadow: 0px 0px 4px 1px #aaa;
  z-index: 404;
  padding: 0 24px;
  overflow: hidden;
}

.site-layout-wrapper {
  max-height: 92vh;
  overflow: hidden;
}

.site-layout {
  background: #fff;
  position: relative;
  height: 92vh;
}

.sidebar {
  background: #fff;
  position: absolute;
  z-index: 403;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 4px 1px #aaa;
  width: 250px;
  height: 100%;
  overflow: hidden;
}

.circle-icon {
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 14px 8px 14px 0px;
}

.ant-layout-sider {
  max-width: 250px !important;
  min-width: 250px !important;
}

.hide-sidebar {
  margin-right: 100px;
  transform: translate(-300px, 0px);
}

.menu-btn {
  font-size: 24px;
  position: absolute;
  margin-left: 24px;
  z-index: 402;
  margin-top: 24px;
  box-shadow: rgb(123 119 119) 0px 0px 5px 0.1px;
}

.content-wrapper {
  height: 100%;
  position: relative;
}

.forms-wrapper {
  height: 100%;
  position: absolute;
  z-index: 401;
}

.footer {
  text-align: center;
  height: 3vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  background-color: #001529 !important;
  color: white !important;
  border: white !important;
}
